*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

h1{
    margin: 2rem;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 1rem;
}

li{
    text-align: left;
    padding: 1rem .5rem;
    border-bottom: 2px solid gray;
    background-color: rgb(206, 255, 239);
}

.toDo{
    text-decoration: line-through;
}